
nav {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: black;
}

nav > ul {
  list-style-type: none;
  border: 2px solid black;
  height: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nology {
  height: 44px;
  width: 150px;
  margin-left: 0;
  background-color: green;
  color: white;
  justify-content: flex-start;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

#panel-1 {
  padding: 10px;
  border: solid 2px black;
  width: 800px;
}

#panel-2 {
  padding: 10px;
  border: solid 2px black;
  width: 800px;
}

#panel-3 {
  padding: 10px;
  border: solid 2px black;
  width: 800px;
}

#panel-right {
  padding: 10px;
  border: solid 2px black;
  width: 600px;
  flex-wrap: wrap;
}

#all-panels {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.container__box{
  display: flex;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  height: 60px;
  width: 60px;
}

.box-sets {
  display: flex;
}

#box-set-1 {
  justify-content: space-around;
}

#box-set-2 {
  justify-content: end;
}

#box-set-3 {
  justify-content: start;
}

#box-one{
  background-color: #E0145C;
}

#box-two{
  background-color: #9E1DB5;
}

#box-three {
  background-color: #6F3CE9;
}

#box-four{
  background-color: #3979E8;
}

#box-five{
  background-color: #01BCD7;
}

#box-six{
  background-color: #7BB13A;
}

#box-seven{
  background-color: #B8C91D;
}

#box-eight{
  background-color: #E6D519;
}

#box-nine{
  background-color: #E5AE02;
}